.comet {
  position: absolute;
  white-space: nowrap;
  font-size: 46pt;
  font-weight: 500;
  color: white;
  text-shadow: 3px 3px 2px black;
  /*will-change: auto;*/
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none; 
  -ms-user-select: none;
}
